
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subversion</title>
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
</head>
<body>
    <h1 class="hidden">Subversion</h1>
    <main>
        <header class="Header">
            <h2 class="Header-title">Header</h2>
            <picture class="Header-logoPicture">
                <img class="Header-logoImg" src="assets/logo.png" alt="Logo Subversion">
            </picture>
            <button class="Header-menuTrigger">
                <i class="fa fa-bars"></i>
            </button>
            <nav class="Header-navigation">
                <h2 class="Header-navigationTitle">Menu</h2>
                <ul class="Header-nav">
                    <li class="Header-navItem">
                        <a class="Header-navLink" href="#">News</a>
                    </li>
                    <li class="Header-navItem">
                        <a class="Header-navLink" href="#">Merch</a>
                    </li>
                    <li class="Header-navItem">
                        <a class="Header-navLink" href="#">Videos</a>
                    </li>
                    <li class="Header-navItem">
                        <a class="Header-navLink" href="#">History</a>
                    </li>
                    <li class="Header-navItem">
                        <a class="Header-navLink" href="#">Follow Us</a>
                    </li>
                    <li class="Header-navItem">
                        <a class="Header-navLink Header-menuCloseTrigger" href="#">
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="Content">
            <article class="Article">
                <h2 class="Article-title">News</h2>
                <section class="Card">
                    <h2 class="Card-title">Sample News</h2>
                </section>
            </article>
        </section>
    </main>
</body>
</html>
