
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <main>
        <header class="Header">
            header
        </header>
        <section class="Content">
            <aside class="WidgetsMenu">
                aside
            </aside>
            <section class="DesignArea">
                <div class="DesignArea-header">
                    <button class="DesignArea-widgetsMenuTrigger"></button>
                </div>
                <div class="WorkArea">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, quis reiciendis! Eligendi, culpa aspernatur reiciendis architecto ducimus omnis eos, quos earum quae ab officia odio! Doloribus temporibus minus doloremque assumenda?
                </div>
            </section>
        </section>
        <footer class="Footer">
            footer
        </footer>
    </main>
</body>
</html>
