
body {
    height: 100vh;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 80% auto;
}

.Header {
    background-color: rgba(230, 230, 230, 0.5);
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 2px 5px darkgray;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

.Content {
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
}

.WidgetsMenu {
    width: 20%;
    transition: all 1s ease;
    box-shadow: 0px 2px 5px darkgray;
    overflow: hidden;
    &.isHidden{
        width: 0;
    }
}

.DesignArea {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-header {
        padding: 0.5em;
    }

    &-widgetsMenuTrigger {
        border-radius: 50%;
        padding: 0 4px;
        margin: 0;
    }
}

.WorkArea {
    margin: 0.5em;
}

.Footer {
    background-color: white;
    border-top: 1px solid lightgray;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}


